<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  
  <body>

  <% if !current_user.nil? %>
   <h3><%=current_user.user_name%></h3>
  <% end %>


    <%= yield %>
  </body>
</html>
